
body{
    background-color: bisque;
    padding: 10px;
    text-align: center;

.container{
    text-align: center;
    margin: auto;
    h1{
        color: red;
        font-size: 30px;
        font-family: 'Courier New', Courier, monospace;
        font-weight: 700;
    }
    .para{
        font-size: 20px;
        border: 1px solid ;
        text-align: center; 
    }
}
}
